/Lab10/Zad2/Zad2Lab10/nbproject/private/
/Lab10/Zad2/nbproject/private/
/Lab13/Zad2/nbproject/private/
/Lab13/Zad2/build/
/Lab13/zad1_l13/build/
/Lab13/zad1_l13/nbproject/private/
/Lab12/Okienkoz2l12v2/build/
/Lab12/Okienkoz2l12v2/nbproject/private/
/Lab12/Okienkoz1l12/build/
/Lab12/Okienkoz1l12/nbproject/private/
/Lab12/Okienkoz3l12/build/
/Lab12/Okienkoz3l12/nbproject/private/
/Lab12/Okienkoz4l12/build/
/Lab12/Okienkoz4l12/nbproject/private/
